/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

/*===============  MY CUSTOM CSS ===============*/

:root {
    --header-height: 3.5rem;

    /*========== My Custom Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #bd9354;
    --first-color-alt: hsl(219, 69%, 52%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --text-color-light: hsl(0, 0%, 0%);
    --clr-neon: hsl(0, 100%, 29%);
    --white-color: #000000;
    /* --body-color: hsl(219, 4%, 4%); */

    --body-color: #f9f9f9;
    --container-color: hsl(219, 4%, 7%);

    /*========== My Custom Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Exo", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*========== gradients ==========*/
    --gradients: linear-gradient(45deg, #ffffff, #f9f9f9, #f0f0f0, rgb(209, 209, 209));
}

@media screen and (min-width: 968px) {
    .feature {
        width: 40%;
    }
    .image-slider {
        width: 60%;
    }
    .apartment {
        display: flex;
    }
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*=============== BASE CSS ===============*/

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}

@keyframes bg-anim {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

h1,
h2,
h3 {
    color: black;
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.main {
    overflow: hidden;
}

/*=============== HEADER & NAV BAR ===============*/

/* .scroll-header {
    border-radius: 0 0 1rem 1rem;
    background-color: rgb(0, 0, 0);
    background-size: 200%;
    animation: bg-anim 7s infinite alternate;
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
    z-index: 1000;
} */

/*=============== HEADER & NAV BAR ===============*/
.site_logo {
    width: 10%;
    /* padding: 10px 0 10px 10px; */
    margin-right: 3px;
}

.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
}
.nav__logo,
.nav__toggle {
    color: var(--title-color);
    display: inline-flex;
}
.nav__logo {
    align-items: center;
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.nav__logo i {
    font-size: 1.25rem;
    color: var(--first-color);
    padding: 10px 0 10px 10px;
    /* text-align: center; */
    align-items: center;
    display: flex;
}

.nav__toggle {
    position: fixed;
    z-index: 10;
    right: 15px;
}

.nav__logo:hover {
    color: var(--first-color);
}
.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: hsl(0, 0%, 100%, 0.1);

        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: 0.3s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
    margin: 0;
}
.nav__link {
    color: white;
    transition: 0.3s;
    font-weight: bolder;
}
.nav__link:hover {
    color: var(--first-color);
}
.nav__close {
    font-size: 2rem;
    column-rule: var(--white-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
/* Show menu items */
.show-menu {
    right: 0;
}

/* Change background header */
.scroll-header {
    border-radius: 0 0 1rem 1rem;
    background-color: #000000;
    box-shadow: 0 1px 9px var(--first-color);
}

/* Active link */
.active-link {
    color: var(--first-color);
}

/*=============== BUTTON ===============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    font-size: var(--normal-font-size);
    transition: 0.3s;
}
.button:hover {
    background-color: var(--first-color-alt);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: hsl(219, 4%, 16%);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(219, 4%, 24%);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(219, 4%, 32%);
}

/* Show Scroll Up*/

.show-scroll {
    bottom: 3rem;
}

.section {
    padding: 5rem 0 3rem;
}

/* my style */
.mainBanner {
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.myShadow {
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.8) 65%, rgba(252, 176, 69, 0) 100%);
}

.bannerContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerContent {
    width: 100%;
    z-index: 3;
    margin: 30px 0;
    position: relative;
}

.socialIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
    background-color: #000;
}
.socialIcons:before {
    border-left: 1px solid #bd9354;
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    z-index: -2;
}
.socialIcons:after {
    border-left: 1px solid #bd9354;
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    z-index: -2;
}
.socialIcons span {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.socialIcons a {
    margin: 10px;
    color: var(--first-color);
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
    z-index: 1;
    background-color: #000;
}

.socialIcons i {
    font-size: 20px;
}

.socialIcons a:hover i {
    transform: scale(1.4);
    color: #f5ca89;
}

.socialIconsMobileContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.socialIconsMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    max-width: 50%;
}
.sperator {
    min-height: 2px;
    max-height: 2px;
    background-color: var(--first-color);
    width: 80px;
}

.socialIconsMobile a {
    margin: 10px;
    color: var(--first-color);
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.socialIconsMobile i {
    font-size: 20px;
}

.socialIconsMobile a:hover i {
    transform: scale(1.4);
    color: #f5ca89;
}

.bannerTitle span {
    text-align: left;
    line-height: 0.5em;
    letter-spacing: -1px;
}

/* Style the first span with the .first-span class */
.bannerTitle .first-span {
    /* Your styles for the first span go here */
    font-weight: bold;
    color: #f0f0f0;
}

/* Style the second span with the .second-span class */
.bannerTitle .second-span {
    /* Your styles for the second span go here */
    font-weight: bolder;
    color: var(--first-color);
}

.bannerTitle {
    /* margin: 30px; */
    /* padding: 10px; */
}

/* Define keyframes for fading in and sliding */
@keyframes fadeAndSlideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply the animation to the elements */
.bannerTitle,
.bannerParagraph,
.bannerList {
    opacity: 0;
    animation: fadeAndSlideIn 0.8s ease 1s forwards;
}

.bannerTitle span {
    font-size: 6vw;
}

.typed-cursor {
    color: var(--first-color);
}

.bannerParagraph,
.bannerList {
    position: relative;
}
/* .bannerParagraph :before {
  border-left: 2px solid #bd9354;
  content: "";
  display: block;
  height: 111px;
  position: absolute;
  width: 1px;
  left: -3px;
  z-index: 0;
} */

.bannerParagraph p {
    color: #cbc8c2;
    text-align: justify;
    margin-bottom: 0;
}
.bannerParagraph {
    border-left: 2px solid var(--first-color);
    padding-left: 6px;
}

.theList {
    display: flex;
    flex-wrap: wrap;
}
.theList li {
    color: #cbc8c2;
    border-left: 2px solid var(--first-color);
    padding-left: 6px;
}

.servicesMainTitle {
    color: #f0f0f0;
    text-align: left;
    line-height: 0.5em;
    letter-spacing: -1px;
}

.scroll-down i {
    font-size: 24px; /* Adjust the size of the scroll-down icon */
    color: #bd9354;
}

.aboutUsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutUsContent {
    display: flex;
    justify-content: center;
}

.aboutUsImg {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-left: 5px solid var(--first-color);
    border-bottom: 5px solid var(--first-color);
}

.aboutUsImg img {
    border-radius: 7px;
}

.aboutUsText {
    align-items: center;
    display: flex;
}

.aboutUsText span {
    font-weight: bold;
    text-align: justify;
}

#aboutUs {
    border-top: 10px solid var(--first-color);
}

.aboutUsTitle {
    text-align: center;
    color: var(--first-color);
}

.aboutUsTitle::after {
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background-color: var(--first-color);
    margin: 0 auto;
    margin-top: 10px;
}

.servicesSection,
.WebsitesTypes {
    background-image: url(../img/partners/bg.png);
    background-color: #000000;
    border-top: 10px solid var(--first-color);
    margin-top: 100px;
}

.image-slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-slider img.active {
    opacity: 1;
}

.services-title {
    font-size: 28px;
    text-align: center;
    color: var(--first-color);
    margin: 10px;
}
.services-title::after {
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background-color: var(--first-color);
    margin: 0 auto;
    margin-top: 10px;
}
.slider-content {
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translate(0, -50%);
    width: 35%;
    box-sizing: border-box;
    color: white;
    text-align: center;
}
.slider-content p {
    text-align: justify;
    margin: 30px 0;
    color: #cbc8c2;
    font-size: 14px;
}

.slider-content h2 {
    color: var(--first-color);
    text-align: start;
}

.slider-content {
    transition: opacity 0.5s ease;
}

.slider-content.active {
    opacity: 1;
}

.ri-menu-line {
    color: var(--first-color);
}

.partnersSection {
    border-top: 10px solid var(--first-color);
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.PartnerCont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.partnerTitle {
    padding: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}
.partnerTitle span {
    display: flex;
    align-items: center;
}
.partnerslogos {
    width: 100%;
}
.partnerslogos .row {
    display: flex;
    justify-content: center;
    width: 100%;
}
.partnerslogos .row img {
    object-fit: contain;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Customize the box shadow */
}

#contact {
    border-top: 10px solid var(--first-color);
    padding: 2rem 1rem 5rem;
    background: #000;
    text-align: center;
}
#contact h2 {
    margin: 0 0 45px 0;
    color: var(--first-color);
    font-weight: 500;
}
#contact-form {
    max-width: 500px;
    margin: 0 auto;
}
#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: var(--first-color);
    color: #fff;
    transition: 0.5s ease all;
}
#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #fff;
}
#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #fff;
    opacity: 1;
}
#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #fff;
}
#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #997848;
    border: 3px solid var(--first-color);
}
#contact-form textarea {
    height: 150px;
    resize: none;
}
#contact-form button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: var(--first-color);
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s ease all;
}
#contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    border: 2px solid var(--first-color);
    background: #000;
}
footer {
    padding: 15px 0;
}
.copyright {
    padding-top: 20px;
}
.copyright p {
    margin: 0;
    color: #74808a;
}
.top {
    text-align: center;
}
.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--first-color);
    text-align: center;
}
.top i {
    color: var(--first-color);
}
.social {
    text-align: right;
}
.social ul {
    margin: 5px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
}
.social a {
    display: block;
    color: var(--first-color);
    padding: 10px;
}
.social a:hover {
    color: #a07d47;
}

/* Style the slider container */
.swiper-container {
    width: 100%;
    height: 100%;
}

/* Style individual slides */
.swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.slide-content {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.swiper-slide-active .slide-content {
    opacity: 1;
    transform: translateX(0);
}

.sliderImg {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Position the slide content over the left half of the image */
.slide-content {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
/* Style the description text */
.slide-content p {
    font-size: 16px;
    color: #cbc8c2;
    text-align: justify;
}
.slide-content h2 {
    font-weight: bold;
    text-align: left;
    letter-spacing: -1px;
    color: #ffffff;
    margin: 0;
}

.slider-button {
    display: flex;
    align-items: start;
    padding: 10px 20px;
    background-color: var(--first-color);
    color: white;
    font-size: 18px;
    border: none;
    width: 130px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.slider-button:hover,
.Website-button:hover {
    background-color: #000000; /* Change to your desired hover color */
    transform: scale(1.05); /* Add a slight scale effect on hover */
    border: 2px solid var(--first-color);
}

.slider-button:focus,
.Website-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 153, 0, 0.5); /* Add a subtle box-shadow when focused */
}

.animate-slide-left {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
    opacity: 0; /* Start with opacity 0 so it fades in */
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*=============== BREAKPOINTS ===============*/
@media only screen and (max-width: 992px) {
    .socialIcons:before {
        height: 240px;
        top: 176px;
    }
    .socialIcons:after {
        height: 240px;
        bottom: 176px;
    }
    .nav__link {
        font-size: 11px;
    }
    .nav__logo {
        column-gap: 0.2rem;
    }
    .nav {
        justify-content: center;
    }
}

/* For small devices */
@media screen and (max-width: 450px) {
    .webMainBanner {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .webbannermobile {
        width: 100%;
    }
    .WebsitesPortCont {
        flex-direction: column;
    }
    .WebsitesAllCards {
        width: 100%;
        margin: 10px 0;
    }
    .websitesPortMainCont {
        width: 95%;
    }
    .sliderImg img,
    video {
        width: 80%;
    }
    .slide-content p {
        margin: 30px 0;
    }

    .slide-content h2 {
        font-size: 7vw;
        text-align: center !important;
    }
    .swiper-slide {
        flex-direction: column-reverse;
    }
    .partnerslogos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .partnerslogos .row img {
        width: 157px;
        height: 123px;
        margin: 10px;
    }
    .partnerslogos .row {
        flex-direction: row;
    }
    .PartnerCont div {
        width: 100%;
    }
    .partnerTitle span {
        width: 100%;
    }
    .partnerTitle {
        font-size: 24px;
        text-align: center;
    }
    .PartnerCont {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .partnersSection {
        padding: 3rem 0;
    }
    .aboutUsText span {
        font-size: 14px;
    }
    .aboutUsTitle {
        margin-bottom: 1rem;
        font-size: 22px;
    }
    .aboutUsText {
        width: 90%;
    }
    .aboutUsImg {
        width: 90%;
    }
    .aboutUsContent div {
        margin: 7px;
    }
    .aboutUsContent {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .servicesMainTitle {
        font-size: 15px;
    }
    .bannerList {
        left: 10px;
    }
    .theList li {
        margin: 5px;
        font-size: 11px;
    }
    .bannerParagraph p {
        font-size: 10px;
    }
    .myShadow {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.8) 75%, rgba(252, 176, 69, 0) 100%);
    }

    .bannerParagraph,
    .bannerList {
        width: 90%;
    }
    .bannerContent div {
        margin: 20px 10px;
    }
    .bannerContent {
        height: 95vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .bannerContainer {
        width: 100%;
    }
}

/* For medium devices */
@media screen and (min-width: 767px) {
    .WebsitesPortCont {
        justify-content: space-between;
    }

    .webMainBanner {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .WebsitesAllCards {
        width: 50%;
        /* height: 500px; */
        margin: 10px;
    }

    .PartnerCont div {
        width: 50%;
    }
    .aboutUsTitle {
        margin-bottom: 3rem;
    }
    .partnerTitle {
        font-size: 35px;
        border-right: 2px solid var(--first-color);
    }
    .partnersSection {
        padding: 3rem 0;
    }
    .partnerslogos .row img {
        width: 157px;
        height: 123px;
        margin: 10px;
    }

    .sliderImg img,
    video {
        width: 45%;
    }
    .swiper-slide {
        flex-direction: column-reverse;
    }
    .slide-content p {
        margin: 20px 0;
    }
    .slide-content h2 {
        font-size: 26px;
    }
    .aboutUsText {
        width: 55%;
    }
    .aboutUsImg {
        width: 40%;
        margin-right: 10px;
    }

    .servicesMainTitle {
        font-size: 21px;
    }
    .bannerParagraph p {
        font-size: 14px;
    }
    .theList li {
        margin: 10px;
    }
    .bannerParagraph,
    .bannerList {
        width: 70%;
        padding: 10px;
        left: 40px;
    }
    .bannerContent div {
        margin: 30px;
    }
    .bannerContainer {
        width: 95%;
    }
    .mainBanner {
        padding: 20px 10px;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .socialIconsMobile {
        display: none;
    }
    .sperator {
        display: none;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 2rem;
        padding-top: 0;
    }
    .nav__link {
        text-transform: initial;
    }
}

@media screen and (min-width: 1040px) {
    .scroll-down {
        position: absolute;
        bottom: 20px; /* Adjust the distance from the bottom as needed */
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .webbannermobile {
        display: none;
    }
    .webMainBanner {
        background-image: url(../img/webBanner.png);
        height: 100vh;
    }
    .WebsiteCard div {
        height: 50%;
    }

    .WebsitesAllCards {
        width: 45%;
        height: 500px;
        margin: 10px;
    }
    .WebsitesPortCont {
        margin: 40px;
        justify-content: space-between;
    }
    .websitesPortMainCont {
        width: 80%;
    }

    .swiper-slide {
        flex-direction: row;
    }
    .sliderImg img,
    video {
        width: 80%;
    }
    .slide-content p {
        width: 85%;
        margin: 30px 0;
    }
    .slide-content {
        align-items: flex-start;
        left: 85px;
        position: relative;
    }
    .slide-content h2 {
        font-size: 3vw;
    }

    .servicesSection {
        height: 100vh;
    }

    .partnerslogos .row img {
        margin: 15px;
        width: 245px;
        height: 170px;
    }
    .partnerTitle span {
        width: 60%;
    }
    .partnerTitle {
        font-size: 45px;
        border-right: 2px solid var(--first-color);
    }
    .PartnerCont div {
        width: 50%;
    }
    .partnersSection {
        padding: 6rem 0;
    }

    .aboutUsText span {
        font-size: 20px;
    }
    .aboutUsTitle {
        margin-bottom: 3rem;
    }

    .aboutUsText {
        width: 60%;
    }
    .aboutUsImg {
        width: 40%;
    }
    .aboutUsContent div {
        margin: 25px;
    }
    .aboutUsContent {
        width: 75% !important;
    }

    .socialIcons:before {
        height: 267px;
        top: 98px;
    }
    .socialIcons:after {
        height: 267px;
        bottom: 98px;
    }
    .nav__link {
        font-size: 17px;
    }
    .nav__logo {
        column-gap: 0.5rem;
    }
    .nav {
        justify-content: space-between;
    }
    .servicesMainTitle {
        font-size: 21px;
    }
    .bannerParagraph p {
        font-size: 14px;
    }
    .theList li {
        margin: 10px;
    }
    .bannerParagraph,
    .bannerList {
        width: 50%;
        padding: 10px;
        left: 40px;
    }
    .bannerContent div {
        margin: 30px;
    }
    .bannerContainer {
        width: 95%;
    }
    .mainBanner {
        padding: 20px 10px;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 767px) {
    footer {
        text-align: center;
    }
    .socialIcons {
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width: 580px) {
    .webMainBanner {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .WebsitesPortCont {
        flex-direction: column;
    }

    .webMainBanner {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .WebsitesAllCards {
        margin: 10px;
    }

    .PartnerCont div {
        width: 50%;
    }
    .aboutUsTitle {
        margin-bottom: 3rem;
    }
    .partnerTitle {
        font-size: 25px;
        border-right: 2px solid var(--first-color);
    }
    .partnersSection {
        padding: 3rem 0;
    }
    .partnerslogos .row img {
        width: 97px;
        height: 80px;
        margin: 5px;
    }
    .slide-content p {
        margin: 10px 0;
    }
    .swiper-slide {
        flex-direction: column-reverse;
    }
    .sliderImg img,
    video {
        width: 70%;
    }
    .aboutUsText {
        margin: 20px;
    }
    .aboutUsImg {
        width: 80%;
    }
    .aboutUsContent {
        flex-direction: column;
        align-items: center;
    }
    .aboutUsTitle {
        font-size: 26px;
    }
    .bannerList {
        left: 10px;
    }
    .servicesMainTitle {
        font-size: 15px;
    }
    .theList li {
        margin: 5px;
        font-size: 14px;
    }
    .bannerParagraph,
    .bannerList {
        width: 85%;
    }
    .bannerContent div {
        margin: 20px 10px;
    }
    .bannerParagraph p {
        font-size: 14px;
    }
    .socialIconsMobile:after {
        width: 133px;
    }
    .socialIconsMobile:before {
        width: 133px;
    }
}

@media (min-width: 1200px) {
    .aboutUsContent {
        width: 100%;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

@media (min-width: 992px) {
}

.websiteTypesMain {
    background-color: #000;
}

.webpageHeader {
    color: #000;
}
/* Container for website types */
.websiteTypesContanier {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000; /* Background color for the container */
}

/* Flex container for each type */
.websiteTypes {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow types to wrap to the next row on smaller screens */
}

/* Individual website type */
.eachType {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 15px;
    border: 4px solid var(--first-color);
    border-radius: 7px;
    box-shadow: 2px 2px 20px #b28a4f;
    overflow: hidden;
    position: relative;
    cursor: pointer; /* Add cursor pointer for hover effect */
    color: #fff; /* Text color */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
}

/* Pseudo-element for hover effect */
.eachType::before {
    content: ""; /* Add a pseudo-element for hover effect */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    opacity: 0;
    transition: opacity 0.3s; /* Smooth transition for overlay */
}

/* Hover effect */
.eachType:hover::before {
    opacity: 1; /* Show the overlay on hover */
}

/* Title and description container */
.intro {
    position: absolute;
    bottom: -100%; /* Initially hide the intro below */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(49 49 49 / 0.5%);
    transition: bottom 0.8s ease; /* Add smooth transition for intro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* Title style */
.typeTitle {
    font-size: 32px;
    font-weight: bold;    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--first-color);
}

/* Description style */
.typeDescription {
    text-align: justify;
    font-size: 1rem;
    opacity: 0; /* Initially hide description */
    transition: opacity 0.3s ease; /* Add smooth transition for description */
}

/* Hover effect for showing title and description */
.eachType:hover .intro {
    bottom: 0;
}

/* Hover effect for showing description */
.eachType:hover .typeDescription {
    opacity: 1;
}
.eachType:hover .typesSpan {
    opacity: 0;
}
.typesSpan{
    text-align: center;
    color: var(--first-color);
    font-size: 32px;
    font-weight: bold;
    margin: 3px;
}

.websiteTypestitle{
    color: var(--first-color);
    text-align: center;
}
.webMainBanner{
    border-bottom: 10px solid var(--first-color);
}