/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

/*===============  MY CUSTOM CSS ===============*/

:root {
    --header-height: 3.5rem;

    /*========== My Custom Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #bd9354;
    --first-color-alt: hsl(219, 69%, 52%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --text-color-light: hsl(0, 0%, 0%);
    --clr-neon: hsl(0, 100%, 29%);
    --white-color: #000000;
    /* --body-color: hsl(219, 4%, 4%); */

    --body-color: #f9f9f9;
    --container-color: hsl(219, 4%, 7%);

    /*========== My Custom Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Exo", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*========== gradients ==========*/
    --gradients: linear-gradient(45deg, #ffffff, #f9f9f9, #f0f0f0, rgb(209, 209, 209));
}

@media screen and (min-width: 968px) {
    .feature {
        width: 40%;
    }
    .image-slider {
        width: 60%;
    }
    .apartment {
        display: flex;
    }
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*=============== BASE CSS ===============*/

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}

@keyframes bg-anim {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

h1,
h2,
h3 {
    color: black;
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.main {
    overflow: hidden;
}

/*=============== HEADER & NAV BAR ===============*/

/* .scroll-header {
    border-radius: 0 0 1rem 1rem;
    background-color: rgb(0, 0, 0);
    background-size: 200%;
    animation: bg-anim 7s infinite alternate;
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
    z-index: 1000;
} */

/*=============== HEADER & NAV BAR ===============*/
.site_logo {
    width: 10%;
    /* padding: 10px 0 10px 10px; */
    margin-right: 3px;
}

.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,
.nav__toggle {
    color: var(--title-color);
    display: inline-flex;
}
.nav__logo {
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.nav__logo i {
    font-size: 1.25rem;
    color: var(--first-color);
    padding: 10px 0 10px 10px;
    /* text-align: center; */
    align-items: center;
    display: flex;
}

.nav__toggle {
    position: fixed;
    z-index: 10;
    right: 15px;
}

.nav__logo:hover {
    color: var(--first-color);
}
.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: hsl(0, 0%, 100%, 0.1);

        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: 0.3s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
}
.nav__link {
    font-size: 17px;
    color: white;
    transition: 0.3s;
    font-weight: bolder;
}
.nav__link:hover {
    color: var(--first-color);
}
.nav__close {
    font-size: 2rem;
    column-rule: var(--white-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
/* Show menu items */
.show-menu {
    right: 0;
}

/* Change background header */
.scroll-header {
    border-radius: 0 0 1rem 1rem;
    background-color: #000000;
    box-shadow: 0 1px 9px var(--first-color);
}

/* Active link */
.active-link {
    color: var(--first-color);
}

/*=============== BUTTON ===============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    font-size: var(--normal-font-size);
    transition: 0.3s;
}
.button:hover {
    background-color: var(--first-color-alt);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: hsl(219, 4%, 16%);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(219, 4%, 24%);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(219, 4%, 32%);
}

/* Show Scroll Up*/

.show-scroll {
    bottom: 3rem;
}

.section {
    padding: 5rem 0 3rem;
}

/*=============== FOOTER ===============*/

.footer {
    position: relative;
    overflow: hidden;
}
.footer .shape__big,
.footer .shape__small {
    position: absolute;
}
.footer .shape__big {
    width: 300px;
    height: 300px;
    top: 6rem;
    left: -12rem;
}
.footer .shape__small {
    right: -13rem;
    bottom: -6rem;
}
.footer__container {
    row-gap: 2.5rem;
    position: relative;
}
.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    margin-bottom: 1.35rem;
    transition: 0.3s;
}
.footer__logo {
    font-size: 1.5rem;
    color: #74808a;
}
.footer__logo:hover {
    color: var(--first-color);
}
.footer__logo img {
    width: 25px;
}
.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1.1rem;
}
.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    color: #74808a;
    margin-bottom: 0;
    margin-top: 0;
}
.footer__link,
.footer__social-link {
    color: var(--text-color);
    transition: 0.3s;
}
.footer__link:hover,
.footer__social-link:hover {
    color: var(--title-color);
}
.footer__social {
    display: flex;
    column-gap: 1.5rem;
}
.footer__social-link {
    font-size: 1.25rem;
}
.footer__copy {
    display: block;
    margin-top: 2.5rem;
    text-align: center;
    font-size: var(--smaller-font-size);
}
.footer__dev-link {
    color: #f76400;
}
.footer__dev-link::before {
    text-shadow: 0 0 12px hsl(0, 0%, 100%);
    transition: 0.3s;
    animation: a 3s infinite;
}

/* my style */
.mainBanner {
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.myShadow {
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.8) 65%, rgba(252, 176, 69, 0) 100%);
}

.bannerContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerContent {
    width: 100%;
    z-index: 3;
    margin: 30px 0;
    position: relative;
}



.socialIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.socialIcons:before {
    border-left: 1px solid #bd9354;
    content: "";
    display: block;
    height: 267px;
    position: absolute;
    top: 98px;
    width: 1px;
    z-index: 0;
}
.socialIcons:after {
    border-left: 1px solid #bd9354;
    content: "";
    display: block;
    height: 267px;
    position: absolute;
    bottom: 98px;
    width: 1px;
    z-index: 0;
}

.socialIcons a {
    margin: 10px;
    color: var(--first-color);
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.socialIcons i {
    font-size: 20px;
}

.socialIcons a:hover i {
    transform: scale(1.4);
    color: #f5ca89;
}

.bannerTitle span {
    text-align: left;
    line-height: 0.5em;
    letter-spacing: -1px;
}

/* Style the first span with the .first-span class */
.bannerTitle .first-span {
    /* Your styles for the first span go here */
    font-weight: bold;
    color: #f0f0f0;
}

/* Style the second span with the .second-span class */
.bannerTitle .second-span {
    /* Your styles for the second span go here */
    font-weight: bolder;
    color: var(--first-color);
}

.bannerTitle {
    /* margin: 30px; */
    /* padding: 10px; */
}

/* Define keyframes for fading in and sliding */
@keyframes fadeAndSlideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply the animation to the elements */
.bannerTitle,
.bannerParagraph,
.bannerList {
    opacity: 0;
    animation: fadeAndSlideIn 0.8s ease 1s forwards;
}

.typed-cursor {
    color: var(--first-color);
}

.bannerParagraph,
.bannerList {
    position: relative;
}
/* .bannerParagraph :before {
  border-left: 2px solid #bd9354;
  content: "";
  display: block;
  height: 111px;
  position: absolute;
  width: 1px;
  left: -3px;
  z-index: 0;
} */

.bannerParagraph p {
    color: #cbc8c2;
    text-align: justify;
    margin-bottom: 0;
}
.bannerParagraph {
    border-left: 2px solid var(--first-color);
    padding-left: 6px;
}

.theList {
    display: flex;
    flex-wrap: wrap;
}
.theList li {
    color: #cbc8c2;
    border-left: 2px solid var(--first-color);
    padding-left: 6px;
}

.servicesMainTitle{
    color: #f0f0f0;
    font-size: 15px;
    text-align: left;
    line-height: 0.5em;
    letter-spacing: -1px;

}
.scroll-down {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.scroll-down i {
    font-size: 24px; /* Adjust the size of the scroll-down icon */
    color: #bd9354;
}

.aboutUsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutUsContent {
    width: 75%;
    display: flex;
    justify-content: center;
}
.aboutUsContent div {
    margin: 25px;
}
.aboutUsImg {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-left: 5px solid var(--first-color);
    border-bottom: 5px solid var(--first-color);
}

.aboutUsImg img {
    border-radius: 7px;
}

.aboutUsText {
    width: 60%;
    align-items: center;
    display: flex;
}

.aboutUsText span {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}

#aboutUs {
    border-top: 10px solid var(--first-color);
    /* border-bottom: 2px solid var(--first-color); */
    /* padding: 50px; */
}

.aboutUsTitle {
    text-align: center;
    color: var(--first-color);
    margin-bottom: 3rem;
}

.aboutUsTitle::after {
    content: "";
    display: block;
    width: 140px; /* Adjust the width of the border as needed */
    height: 2px; /* Adjust the height of the border as needed */
    background-color: var(--first-color);
    margin: 0 auto; /* Center the border horizontally */
    margin-top: 10px; /* Adjust the distance between text and border as needed */
  }

  .servicesSection {
    height: 120vh;
    background-color: #000000;
    border-top: 10px solid var(--first-color);
    margin-top: 100px;
    padding: 3rem 0 ;
}

.image-slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-slider img.active {
    opacity: 1;
}

.services-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    font-size: 28px;
    text-align: center; 
    color: var(--first-color);

}
.services-title::after {
    content: "";
    display: block;
    width: 140px; 
    height: 2px; 
    background-color: var(--first-color);
    margin: 0 auto; 
    margin-top: 10px;
  }
  .slider-content {

    position: absolute;
    top: 50%;
    left: 75px;
    transform: translate(0, -50%);
    width: 35%;
    box-sizing: border-box;
    color: white;
    text-align: center;
}
  .slider-content p {
    text-align: justify;
    margin: 30px 0;
    color: #cbc8c2;
    font-size: 14px;
}

.slider-content h2{
    color: var(--first-color);
    text-align:start;
}
.slider-button{
    display: flex;
    align-items: start;
    padding: 10px 20px;
    background-color: var(--first-color);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.slider-button:hover {
    background-color: #000000; /* Change to your desired hover color */
    transform: scale(1.05); /* Add a slight scale effect on hover */
    border: 2px solid var(--first-color);
}

.slider-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 153, 0, 0.5); /* Add a subtle box-shadow when focused */
}
.slider-content {
    transition: opacity 0.5s ease;
}

.slider-content.active {
    opacity: 1;
}

.ri-menu-line{
    color: var(--first-color);
}

/*=============== BREAKPOINTS ===============*/
@media only screen and (max-width: 992px) {
}

/* For small devices */
@media screen and (max-width: 395px) {
    .bannerList{
        left: 10px;
    }
    .theList li {
        margin: 5px;
        font-size: 11px;
    }
    .bannerParagraph p {
        font-size: 10px;
    }
    .myShadow {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.8) 75%, rgba(252, 176, 69, 0) 100%);
    }
    
    .bannerParagraph,
    .bannerList {
        width: 90%;
    }
    .bannerTitle span {
        font-size: 28px;
    }
    .bannerContent div {
        margin: 10px;
    }
    .bannerContent {
height: 95vh;
justify-content: center;
    display: flex;
    flex-direction: column;
    }
    .bannerContainer {
        width: 100%;
    }
}

/* For medium devices */
@media screen and (min-width: 767px) {

    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }
    .nav__link {
        text-transform: initial;
    }
}

/* For large devices */

@media screen and (min-width: 1040px) {
    .bannerParagraph p {
        font-size: 14px;
    }
    .theList li {
        margin: 10px;
    }
    .bannerParagraph,
.bannerList {
    width: 50%;
    padding: 10px;
    left: 40px;
}
    .bannerTitle span {
        font-size: 120px;
    }
    .bannerContent div {
        margin: 30px;
    }
    .bannerContainer {
        width: 95%;
    }
    .mainBanner{
        padding: 20px 10px;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    .socialIcons{
        display: none;
    }
}

@media only screen and (max-width: 580px) {
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

@media (min-width: 992px) {
}
